.dropdown {
  position: relative;
}
.dropdown-select {
  cursor: pointer;
  user-select: none;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  background-color: var(--color-white);
  box-shadow: var(--shadow-medium);
}
.dropdown-menu {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  border-radius: 0.25rem;
  background-color: var(--color-white);
  box-shadow: var(--shadow-large);
  transition: all 0.3s ease-in-out;
}
.dropdown-menu-inner {
  max-height: 16rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.dropdown-menu-inner::-webkit-scrollbar {
  width: 5px;
  height: auto;
}
.dropdown-menu-inner::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: var(--color-greys);
  box-shadow: var(--shadow-small);
}
.dropdown-menu-item {
  padding: 0.65rem 1.25rem;
  background-color: var(--color-white);
  transition: all 0.2s ease-in-out;
}
.dropdown-menu-item:hover {
  color: var(--color-black);
  background-color: var(--color-greys);
}
.dropdown-menu-item.is-select,.dropdown-menu-item.active, .dropdown-menu-item.is-select:hover {
  color: var(--color-white);
  background-color: var(--color-blues);
}
.dropdown-menu-search {
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
  height: auto;
  padding: 0.65rem 1.25rem;
  border: none;
  outline: none;
  color: var(--color-black);
  background-color: var(--color-light);
}
