.snap-drpd {
  position: relative;
}
.snap-drpd:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%235e5e5e' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m7 10l5 5l5-5'/%3E%3C/svg%3E");
    z-index: 44;
    top: 10px;
    right: 5px;
}
.snap-drpd-sel {
  cursor: pointer;
  user-select: none;
  padding: 0 1.25rem;
  border-radius: 0.25rem;
  background-color: var(--color-white);
  height: 42px;
  line-height: 42px;
  border: 1px solid #ddd;
}
.snap-drpd-menu {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  border-radius: 0.25rem;
  background-color: var(--color-white);
  box-shadow: var(--shadow-large);
  transition: all 0.3s ease-in-out;
}
.snap-drpd-inn {
  max-height: 16rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.snap-drpd-inn::-webkit-scrollbar {
  width: 5px;
  height: auto;
}
.snap-drpd-inn::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: var(--color-greys);
  box-shadow: var(--shadow-small);
}
.snap-drpd-item {
  padding: 0.65rem 1.25rem;
  background-color: var(--color-white);
  transition: all 0.2s ease-in-out;
}
.snap-drpd-item:hover {
  color: var(--color-black);
  background-color: var(--color-greys);
}
.snap-drpd-item.is-select,.snap-drpd-item.active, .snap-drpd-item.is-select:hover {
  color: var(--color-white);
  background-color: var(--color-blues);
}
.snap-drpd-search {
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
  height: auto;
  padding: 0.65rem 1.25rem;
  border: none;
  outline: none;
  color: var(--color-black);
  background-color: var(--color-light);
}
